.Header{
    background-color: #172B4D;
    padding: 10px;
    text-align: left;
    color: #fff;
}

.headerRow{
    padding: 10px;
}

.headerRow div p{
    margin: auto;
}

input{
    border-radius: 20px;
    border: 0;
    align-self: start;
}

.Header span.icon{
    margin: 10px 30px;
    color: #fff;
    float: right;
}
