.DotButton{
    border-radius: 50%;
}
span.btn{
    padding: 5px;
    box-shadow: 1px 1px rgba(0,0,0,0.5);
    border-radius: 50%;
    color: #000;
}
span.btn:hover{
    cursor: pointer;
    background-color: #F7FAFC;
}
